html {
  background-image: url('../img/cat.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width:100%;
  height:100%;
}

body {
  width:90%;
  height:90%;
  margin:auto;
  text-align: center;
}

.body, #hi{
  background-color: rgba(196,148,102,.6);
  color:rgb(73, 96, 68);
  border: 3px solid rgba(73, 96, 68, .6);
  border-radius: 15px;
}

h1 {
  color:rgb(196,148,102);
  font-size: 40px;
  background-color: rgb(73, 96, 68);
  border: 3px solid rgba(196,148,102, 1);
  border-radius: 15px;
}

form{
  text-align: center;
  margin:auto;
}

button {
  position: fixed;
  bottom: 10px;
  left: 25%;
  height: 5em;
  width: 50%;
  border: 3px solid rgba(196,148,102, .6);
  border-radius: 15px;
  color: rgb(196,148,102);
  background-color: rgba(73, 96, 68, .6);
  font-size: 20px;
  font-weight: bold;
}

button img{
  height: 50%;
  vertical-align: middle;
}

button:active {
  border: 3px solid rgba(73, 96, 68, .6);
  border-radius: 15px;
  color: rgb(73, 96, 68);
  background-color: rgba(196,148,102, .6);
}
