html{
  background-color: hsla(126, 72%, 74%, 1);
  background-size:auto;
  background-repeat: repeat;
}

body{
  background-color: hsla(360, 62%, 75%, 1);
  color: hsla(126, 72%, 74%, 1);
  width:90%;
  height:90%;
  padding:10px;
  margin: 20px auto;
  text-align:center;
  padding 10px;
  border-radius: 15px;
  font-size: 2em;
}

form {
  padding: 1em;
}

button {
  height: 5em;
  width: 30em;
  border: 5px solid hsla(126, 72%, 74%, 1);
  border-radius: 15px;
  color: hsla(126, 72%, 74%, 1);
  background-color: hsla(126, 72%, 74%, 0);
  font-size: 20px;
  font-weight: bold;
}

button:active{
  color: hsla(360, 62%, 75%, .6);
  background-color: hsla(126, 72%, 74%, 1);
}

#no-button:hover, #no-button:active, #no-button:focus {
  display:none;
}
